<p ng-if="notLogtime">
	<strong style="color: red">CHƯA LOGTIME ~!@#$%^&*: </strong><span ng-repeat="user in notLogtime"><code>{{user}}</code>&nbsp;</span>
</p>
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Dev Id</th>
				<th>Dev Name</th>
				<th>Issue Id</th>
				<th>Issue Name</th>
				<th>Activity</th>
				<th>Date</th>
				<th>Hours</th>
				<th>Ks Link</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="timeEntry in timeEntries" on-last-repeat>
				<td class="dev{{timeEntry.devId}}"><a target="blank" href="http://14.161.22.172:3000/users/{{timeEntry.devId}}">{{timeEntry.devId}}</a></td>
				<td><a target="blank" href="http://14.161.22.172:3000/users/{{timeEntry.devId}}">{{timeEntry.devName}}</a></td>
				<td><a target="blank" href="http://14.161.22.172:3000/issues/{{timeEntry.issueId}}">{{timeEntry.issueId}}</a></td>
				<td><a target="blank" href="http://14.161.22.172:3000/issues/{{timeEntry.issueId}}">{{timeEntry.issueName}}</a></td>
				<td><div ng-repeat="child in timeEntry.child">{{child.activity}}</div></td>
				<td>{{timeEntry.date}}</td>
				<td>{{timeEntry.hours}}</td>
				<td><a target="blank" href="{{timeEntry.ksLink}}">{{timeEntry.ksLink}}</a></td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-if="isSu">
	<input type="text" ng-model="token.value"/>
	<button type="button" ng-click="openLogtime()" class="btn btn-success">Open Logtime</button>
</div>